SKIP_BUILD_STATIC_GENERATION=true
STRAPI_API_URL=http://localhost:1337/api

# Public (client) variables - NOTE: These values are public. No secret credentials here!
NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337/api