.metaDataContainer {
  width: 20%;
  border: 2px grey solid;
  margin-left: 32px;
  margin-top: 32px;
  background: #393939;
  padding: 0px 12px;
  overflow: hidden;
}

.ul {
  padding-left: 16px;
}

.ul li a{
  color: #0070f3;
  text-decoration: underline;
}

.ul li a:hover {
  color: white;
}

.downloadContainer{
  display: flex;
  justify-content: space-evenly;
}